name: Build and Publish OpenMRS
on:
  push:
    branches:
      - master
      - dev
      - 'release-*'
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
    paths-ignore:
      - "**.md"
  workflow_dispatch:

jobs:
  build-publish-docker-helm:
    name: Build & Publish Docker Image & Helm Chart
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    env:
      HELM_CHART_PATH: package/helm/openmrs

    steps:
      - uses: actions/checkout@v2

      - name: Get commit hash
        id: get_commit_hash
        run: |
          echo "COMMIT_HASH=$(git rev-parse HEAD)" >> $GITHUB_ENV

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build with Maven
        run: ./mvnw --no-transfer-progress -U clean install

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Docker Build & Push to Artifact Registry
        env:
          IMAGE_NAME: ${{ vars.IMAGE_NAME }}
          REGISTRY: ${{ vars.REGISTRY }}
          IMAGE_TAG: ${{ env.COMMIT_HASH }}
          DEFAULT_TAG: latest
        run: |
          echo "Building and pushing Docker image..."
          docker build -f package/docker/openmrs/Dockerfile \
            -t $REGISTRY/$IMAGE_NAME:$IMAGE_TAG \
            -t $REGISTRY/$IMAGE_NAME:$DEFAULT_TAG .
          docker push $REGISTRY/$IMAGE_NAME:$IMAGE_TAG
          docker push $REGISTRY/$IMAGE_NAME:$DEFAULT_TAG

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Docker Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          file: package/docker/openmrs/Dockerfile
          push: true
          tags: utsavd/openmrs:${{ env.ARTIFACT_VERSION }},utsavd/openmrs:latest

      - name: Update Version and Image Tag
        run: |
          yq --inplace '.image.tag = "${{ env.ARTIFACT_VERSION }}"' $HELM_CHART_PATH/values.yaml
          yq --inplace '.version = "${{ env.ARTIFACT_VERSION }}"' $HELM_CHART_PATH/Chart.yaml

      - name: Helm Lint
        run: helm lint $HELM_CHART_PATH
